.product .card{
    border: 1px solid green;
    transition: transform 0.3s ease;
}
.product .card:hover{
    transform: translateX(-10px);
    box-shadow: 0 10px 15px black;
}
.product_dtails{
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.product_dtails:hover{
    transform: translateX(-10px);
    box-shadow: 0 10px 15px black;
}