.container{
    width: 90%;
    margin: 0 auto;
}
.flex-1{
    background-color: purple;
    color: white;
    text-align: center;
}
.flex-2{
    background-color: blue;
    color: white;
    text-align: center;
}
.flex-3{
    background-color: orange;
    color: white;
    width: 716px;
    height: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.flex-4{
    background-color: tomato;
    color: white;
    width: 716px;
    height: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.content-flex{
    display: flex;
    flex-direction: row;
}
